.instagram-post:hover img {
    transform: scale(1.1);
    opacity: 1;
}
.instagram-post {
    position: relative;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

.instagram-post img {
    opacity: .7;
    transition: .3s;
}

.instagram-post .link {
    transition: .3s;
    position: absolute;
    color: rgb(255 255 255);
    margin: 8px;
    font-size: 1.3rem;
    display: block;
    top: 0;
}
.instagram-post .link:hover{
    transform: scale(1.1);
}
